.events-container {
    background: rgb(44,71,112);
    background: radial-gradient(circle at bottom left, rgba(44,71,112,1) 0%, rgba(26,45,73,1) 22%, rgba(11,20,34,1) 100%);
        height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }
  